@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Overpass');
@import url('https://fonts.googleapis.com/css?family=Cabin|Merriweather');

*,body{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "Comfortaa",cursive;
}
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #fff;
    height: 80px;
    padding: 10px;
}
.logo{
    position: absolute;
    width: 100px;
    margin-left: 50px;
    top: 0;
    margin-top: 2px;
}
.logo img{
    width: 100%;
    height: 90px;
}
header nav{
    float: right;
    margin:30px;
    margin-right: 80px;
}
header li{
    float: left;
    margin-left: 50px;
}
header a{
    text-transform: capitalize;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.showcase{
    padding-top: 50px;
    margin-bottom: 50px;
}
.container{
    width: 90%;
    margin: auto;
}
.container-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 8%;
}
.box{
    position: relative;
}
 .title{
    font-family:  'Josefin Sans', sans-serif;
    color: rgb(236,147,47);
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 50px;
    text-align: center;
}
.title1{
    font-family:  'Josefin Sans', sans-serif;
    color: rgb(236,147,47);
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.desc{
  text-align: justify;
}
.desc p{
    margin-bottom: 100px;
}
.link{
    color: yellow;
    padding: 20px;
    position:absolute;
    bottom:0;
    border-radius: 3px;
    border:1px solid green;
    background: green;
    font-size: 13px;
}
.link:hover{
    color: #fff;
}
/**/
.intervention,.what{
    background:rgb(251, 195, 0);
    min-height: 70vh;
    margin-bottom: 0px!important;
}
.what{
    min-height: auto;
    padding-bottom: 30px;
}
.container-box{
    width: 100%;
    margin: auto;
}
.intervention-title,.title-show{
    color: #fff;
    font-family:  'Josefin Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
.title-show{
    color: #000;
    font-size: 2rem;
}
.number{
    color: #231e1e85;
}
.count{
    height: 70px;
    font-size: 1.3rem;
}

.grid-system{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    grid-gap: 40px;
}
.b-box img{
    width: 90px;
}
.desc-box{
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
/**/
.articles{
    width: 100%;
}
.show-news-story{
    display: flex;
    flex-direction: row;
}
.new{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.new:first-child{
    border-right:4px solid rgb(72,89,44);
}
.new-title{
    color:rgb(236,147,47);
}
.blogs-article{
    position: relative;
}
.blog{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
}
.blog-image{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
.blog-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.read{
    text-align: center;
    font-size: 14px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.read p{
    color: #000;
}
.sb{
    padding: 10px;
    width: 100px;
    height: 45px;
    background: none;
    color: green;
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Comfortaa",cursive;
}
.sb:hover{
    background: green;
    color: #fff;
}
/*some*/
.main{
    position: relative;
}

.main-image{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    position: relative;
}
.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0000006b;
}

.menu{
    position: absolute;
    top:50px;
    left:20px;
    right: 20px;
    background-color: white;
    opacity: 0.8;
    border-radius: 8px;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    display: inline;
    margin: 1%;
    font-size: 20px;
    color:dimgray;
    font-style: bold;
    
}

.menu ul img{
    width: 100px;
}
.mission-statement{
    position: absolute;
    width: 80%;
    text-align: center;
    bottom: 0;
    margin-bottom: 200px;
    margin-left: 10%;
    margin-right: 10%;
}

.share-icons{
    position:absolute;
    top:0;
    background-color:white;
    padding: 10px;
    right: 20px;
    border-radius: 4px;
}

.statement{
    font-size: 30px;
    font-style: bold;
    margin: 20px 20px;
    color:#fff;
}
footer{
    width: 100%;
    background:rgb(251, 195, 0);
    min-height: 30vh;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 40px;
}
.footer-grid{
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-gap: 10px;
}
.footer-image{
    position: absolute;
}
.donate{
    width: 100%;
    min-height: 250px;
}
.donate-desc{
    padding: 30px;
}
.dn{
    padding: 10px;
    line-height: 20px;
}
.donateBtn{
    padding: 15px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 2px;
    background: #008300;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.combiner{
    width: 90%;
    margin: auto;
}
.footer-menu nav{
    margin-left: 50px;
    margin-top: 40px;
}
.footer-menu li{
    float: left;
    margin-left: 50px;
}
.f-logo{
    width: 100px;
    height: 100px;
}
.icon{
    width: 20px;
    height: 20px;
}
.icon img{
    width: 100%;
    height: 100%;
}
.grid-box{
    width: 70%;
    margin: auto;
}
.what-wedo{
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
.what-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.wt{
    border: 1px solid #ddd;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #ddddddb3;
    justify-content: center;
}
.wt a{
    color:#333;
}
.read-articles{
    padding-top: 100px;
    position: relative;
}
.reading{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.read-image{
    width: 100%;
    height: 400px;
}
.read-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-desc{
    padding: 30px;
}
.menuIcon,.close{
    display: none;
}
@media screen and (max-width:768px){
    header{
        height: 40px;
    }
    .container-box{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 0%;
        padding: 0px;
    }
    .showcase{
        padding-top: 20px;
    }
    .box{
        margin-top: 40px;
    }
    .desc{
        text-align: center;
        position: relative;
    }
    .desc p{
        margin-bottom: 50px;
    }
    .title{
        margin-top: 0px;
        margin-bottom: 20px;

    }
    .link{
        position: relative;
        color: #000;
        background: none;
    }
    .show-news-story{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px;
        margin-top: 0;
    }
    .blog-3{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px;
        margin-top: 0;
    }
    .blogs-article{
        text-align: center;
    }
    .container{
        width: 100%;
    }
    .new{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
    }
    .new:first-child{
        border: none;
    }
    .intervention{
        padding-bottom: 60px;
    }
    .grid-system{
        grid-template-columns: 1fr;
    }
    .main-image{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 40vh;
        position: relative;
    }
  .mission-statement{
    width: 90%;
    left: 0;
    background: none;
    margin-bottom: 60px;
  }
  .statement{
      color: #fff;
      font-size: 1rem;
  }
  .logo{
      width: 60px;
      margin-left: 0px;
  }
  .logo img{
      height: 50px;
      margin-left: 0px;
  }
  .footer-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
  }
  .donate{
      min-height: auto;
  }
  .footer-image{
      position: relative;
  }
  .footer-menu li{
      margin-left: 10px;
  }
  .icon{
      width: 20px;
      height: 20px;
  }
  .footer-menu nav{
      margin-left: 90px;
  }
  .read-articles {
    padding-top: 70px;
    position: relative;
}
.reading{
    width: 100%;
    margin-top: 0%;
}
.read-image{
    height: 200px;
}
.menuIcon{
    display: block;
    width: 25px;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.navigation{
    float: none;
    margin: 0px;
    margin-right: 0px;
    width: 40%;
    right: 0;
    background: #fff;
    bottom: 0;
    position: fixed;
    top: 0;
    padding-top: 20px;
    -webkit-transform: translateX(100%);
    -webkit-transition:transform 0.6s ease-in-out;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}
.open{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
header li{
 float: none;
 width: 100%;
 margin-left: 0px;
 margin: 30px;
}
header a{
    font-size: 12px;
}
.close{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 0px;
}
.article-desc p{
    font-size: 13px;
    text-align: center;
}
}